.profile-icon {
  display: inline-block;
  position: relative;
}

.profile-icon-inner {
  font-size: 20px; /* Diminuer la taille de l'icône */
  border-radius: 50%; /* Mettre en forme de cercle */
  position: relative;
  z-index: 1;
}

.profile-icon-inner::before {
  content: ''; /* Masquer la flèche */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: -1;
}